<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="invoiceService" class="org.example.invoice.InvoiceServicePrefix">
        <property name="invoiceRepository" ref="invoiceRepository"/>
    </beans>

    <bean class="org.example.invoice.controller.InvoiceControllerWeb">
        <property name="invoiceService" ref="invoiceService"/>
    </beans>

    <bean id="invoiceRepository" class="org.example.invoice.repository.InvoiceRepositoryDatabase"/>


</beans>